<div class="container">
  <div class="up">
    <a href="/login" *ngIf="utenteVerificato.length === 0">Login</a>
    <nav [ngClass]="{'open': toggle}">
      <a routerLink="/Uomo" (click)="closeMenu()">Uomo</a>
      <a routerLink="/Donna" (click)="closeMenu()">Donna</a>
      <a routerLink="/Unisex" (click)="closeMenu()">Unisex</a>
      <a routerLink="/Catalogo" (click)="closeMenu()">Catalogo</a>
    </nav>
    <div class="hamburger" (click)="isToggle()">
      <div class="linea"></div>
      <div class="linea"></div>
      <div class="linea"></div>
    </div>
  </div>
  <div [ngClass]="{'telefono': toggle}">
    <div class="contentTelefono">
      <a *ngIf="toggle" routerLink="/Uomo" (click)="closeMenu()">Uomo</a>
      <a *ngIf="toggle" routerLink="/Donna" (click)="closeMenu()">Donna</a>
      <a *ngIf="toggle" routerLink="/Unisex" (click)="closeMenu()">Unisex</a>
      <a *ngIf="toggle" routerLink="/Catalogo" (click)="closeMenu()">Catalogo</a>
    </div>

  </div>
  <div class="down"></div>
</div>