<div class="container">
  <div class="sx">
    <h3>Brand</h3>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
  </div>
  <div class="center">
    <h3>LOGO</h3>
    <a href="">Qualcosa</a>
  </div>
  <div class="dx">
    <h3>Chi siamo</h3>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
    <a href="">Qualcosa</a>
  </div>
</div>