<div class="container">
  <div class="box">
    <div class="sx">
      <div class="bloccoFoto1"></div>
      <div class="bloccoFoto2"></div>
    </div>
    <div class="dx">
      <h2>RedFate Abbigliamento</h2>
      <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti aut, quo dolores voluptatum nihil assumenda
        reprehenderit odio provident nesciunt consequuntur blanditiis</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi obcaecati labore repudiandae quia adipisci
        alias, doloribus, quam exercitationem harum eligendi enim quisquam. Animi itaque ut cum adipisci temporibus, aut
        veniam!</p>

      <button>CHI SIAMO</button>
    </div>
  </div>
</div>