<div class="container">
  <div class="up">
    <a href="/login" *ngIf="utenteVerificato.length === 0">Login</a>
    <nav [ngClass]="{'open': toggle}">
      <a routerLink="/Uomo" (click)="closeMenu()">Uomo</a>
      <a routerLink="/Donna" (click)="closeMenu()">Donna</a>
      <a routerLink="/Unisex" (click)="closeMenu()">Unisex</a>
      <a routerLink="/Catalogo" (click)="closeMenu()">Catalogo</a>
    </nav>
    <div class="hamburger" (click)="isToggle()">
      <div class="linea"></div>
      <div class="linea"></div>
      <div class="linea"></div>
    </div>
  </div>

  <div class="down">
    <div class="prodotti" *ngFor="let d of combinedData">
      <div id="AddToCart"></div>
      <img [src]="d.immagineBase64 ? 'data:image/jpeg;base64,' + d.immagineBase64 : 'placeholder.jpg'" alt="Immagine">
      <div class="infoProdotto">
        <h2 id="titolo"> {{ d.titolo }} </h2>
        <h2 id="prezzo"> {{ d.prezzo }} </h2>
      </div>
    </div>
  </div>


</div>