POST FELPA
<div class="form">
  <input type="text" name="" id="" placeholder="Titolo" [(ngModel)]="titoloF">
  <input type="text" name="" id="" placeholder="Descrizione" [(ngModel)]="descrizioneF">
  <input type="number" name="" id="" placeholder="Prezzo" [(ngModel)]="prezzoF">
  <button (click)="createFelpa()">Aggiungi</button>
</div>


POST PANTALONE
<div class="form">
  <input type="text" name="" id="" placeholder="Titolo" [(ngModel)]="titoloP">
  <input type="text" name="" id="" placeholder="Descrizione" [(ngModel)]="descrizioneP">
  <input type="number" name="" id="" placeholder="Prezzo" [(ngModel)]="prezzoP">
  <button (click)="createPantaloni()">Aggiungi</button>
</div>