
.container{
  width: 100%;

  background-color: rgba(0, 255, 225, 0.403);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: absolute;
  gap: 40px;
}


.contentCard{
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}


.card{
  width: 400px;
  height: 400px;
  background-color: bisque;

}

#a{

  width: 100%;

}



