<div class="container">
  <div class="sx"></div>
  <div class="dx"></div>

  <div class="upCenter">
    <div class="up">
      <h3>Login</h3>
    </div>
    <div class="center">
      <input type="text" name="" id="" [(ngModel)]="nome" placeholder="nome"
        (ngModelChange)="verificoLogin(nome, cognome)">
      <input type="text" name="" id="" [(ngModel)]="cognome" placeholder="cognome"
        (ngModelChange)="verificoLogin(nome, cognome)">
    </div>
    <div class="down">
      <button routerLink="../" routerLinkActive="active">Login</button>
    </div>
  </div>
</div>