<div [@fadeOutUp]="animationState" *ngIf="animationState === 'visible'" class="container">
  <a (click)="leavePage()">INDIETRO</a>
  <h1>FELPE</h1>
  <div class="contentCard">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
  </div>
  <app-footer id="a"></app-footer>
</div>